.header{
    padding: 1rem 1rem;
   display: flex;
   justify-content: space-around;
   background-color: black;
   color: white;
   font-size: 2rem;
   align-items: center;
   text-transform: uppercase;
   position: sticky;
   top: 0;
   z-index: 2000;

   &-btn{
       font-size: 1.6rem;
       display: flex;
       justify-content: space-around;
       margin-top: .4rem;
   }


   &-icon{
       margin-right: .4rem;
   }

   &-cart{
       margin-right: 2rem;
       display: flex;
       align-items: center;
   }

   &-user{
       display: flex;
       align-items: center;
   }

   &-text{
       margin-bottom: 0;
   }
}